main{
    border-top: 1px solid gray;
    width:1242px;
    height:1800px;
    margin:0 auto;
    margin-top: 50px;
}
div{
    box-sizing: border-box;
}
#detail input{
    width: 99%;
    height: 95%;
    font-size: 20px;
    margin: 0 auto;
    border: none;
}
#detail{
    border-top: 1px solid gray;
    width:1000px;
    height:900px;
    margin: 0 auto;
    box-sizing: border-box;
}

#noticeContent{
    width:200px;
    height: 300px;
    float:left;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    background-color: #f9f9f9;
    border-radius: 10px;
        text-align: center;
}
#noticeContent-detail{
    width:80%;
    height: 300px;
    float:left;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 10px;
}

#title{
    width:20%;
    height: 50px;
    float:left;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: #f9f9f9;
        border-radius: 10px;
            text-align: center;
}

#detail div{
    
    box-sizing: border-box;
}
#notice-div{
    width:100%;
    height:1100px;
    margin: 0 auto;
    float: left;
}
#add{
    width:100%;
    height:100px;
}
#notice-detail{
    text-align: center;
    
}
main input{
    border-radius: 5px;
}
main div{
    box-sizing: border-box;
    
}

#detail-box{
    width:100%;
    height: 50px;
    margin-top: 10px;
}
#detail{
    width:94%;
    height: 50px;
    font-size: 16px;
}

.add-button{
    margin-top: 30px;
    margin-right: 5px;
/*     width:100px; */
/*     height:45px; */
/*     border-radius: 7px; */
	text-decoration: none;
	padding: 10px 15px;
    border-radius: 10px;
    background-color:#fffbea;
    color:#000;
}

.add-button:hover{
	background-color: #4682B4;
}
