<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.jachui.chat.model.mapper.ChatRoomMapper">

    <insert id="createEstateChatRoom" parameterType="map">
        INSERT INTO CHAT_ROOM (CHAT_ROOM_NO, ITEM_TYPE, ITEM_NO, USER1_ID, USER2_ID, CREATE_DATE, UPDATE_TIME)
        VALUES (SEQ_CHAT_ROOM.NEXTVAL, 'estate', #{itemNo}, #{user1Id}, #{user2Id}, SYSDATE, SYSDATE)
    </insert>

    <insert id="createTradeChatRoom" parameterType="map">
        INSERT INTO CHAT_ROOM (CHAT_ROOM_NO, ITEM_TYPE, ITEM_NO, USER1_ID, USER2_ID, CREATE_DATE, UPDATE_TIME)
        VALUES (SEQ_CHAT_ROOM.NEXTVAL, 'trade', #{itemNo}, #{user1Id}, #{user2Id}, SYSDATE, SYSDATE)
    </insert>

    <select id="findChatRoomByUsersAndItem" parameterType="map" resultType="int">
        SELECT CHAT_ROOM_NO
        FROM CHAT_ROOM
        WHERE ((USER1_ID = #{user1Id} AND USER2_ID = #{user2Id}) 
               OR (USER1_ID = #{user2Id} AND USER2_ID = #{user1Id}))
        AND ITEM_TYPE = #{itemType}
        AND ITEM_NO = #{itemNo}
        ORDER BY CREATE_DATE DESC
        FETCH FIRST 1 ROW ONLY
    </select>

    <select id="findChatRoom" parameterType="map" resultType="int">
        SELECT CHAT_ROOM_NO
        FROM CHAT_ROOM
        WHERE (USER1_ID = #{user1Id} AND USER2_ID = #{user2Id})
           OR (USER1_ID = #{user2Id} AND USER2_ID = #{user1Id})
        ORDER BY CREATE_DATE DESC
        FETCH FIRST 1 ROW ONLY
    </select>

    <select id="findChatRoomByUsers" parameterType="map" resultType="int">
        SELECT CHAT_ROOM_NO
        FROM CHAT_ROOM
        WHERE (USER1_ID = #{user1Id} AND USER2_ID = #{user2Id})
           OR (USER1_ID = #{user2Id} AND USER2_ID = #{user1Id})
        ORDER BY CREATE_DATE DESC
        FETCH FIRST 1 ROW ONLY
    </select>
    
    <select id="getChatRoomByMyId" resultType="Chat">
        SELECT c.CHAT_NO, c.CHAT_ROOM_NO, c.WRITER_ID, c.MESSAGE, c.IS_READ, c.CREATE_DATE, c.CHAT_TIME
        FROM CHAT c
        JOIN CHAT_ROOM cr ON c.CHAT_ROOM_NO = cr.CHAT_ROOM_NO
        WHERE cr.USER1_ID = #{userId} OR cr.USER2_ID = #{userId}
        ORDER BY c.CHAT_TIME DESC
    </select>

    <select id="countChatRoomByRoomNo" resultType="int">
        SELECT COUNT(*)
        FROM CHAT_ROOM
        WHERE CHAT_ROOM_NO = #{chatRoomNo}
    </select>
    
    <select id="getChatRoomByNo" parameterType="int" resultType="com.house.jachui.chat.model.vo.ChatRoom">
		SELECT *
		FROM chat_room
		WHERE chat_room_no = #{chatRoomNo}
	</select>
	<select id="getChatRoomByUserId" resultType="Chat">
        SELECT c.CHAT_NO, c.CHAT_ROOM_NO, c.WRITER_ID, DBMS_LOB.SUBSTR(MESSAGE, 4000, 1) AS MESSAGE, c.IS_READ, c.CREATE_DATE, c.CHAT_TIME
        FROM CHAT c
        JOIN CHAT_ROOM cr ON c.CHAT_ROOM_NO = cr.CHAT_ROOM_NO
        WHERE cr.USER1_ID = #{userId} OR cr.USER2_ID = #{userId}
        ORDER BY CHAT_TIME DESC
    </select>
</mapper>