<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.house.jachui.chat.model.mapper.ChatMapper">
  	<resultMap type="Chat" id="chatResultMap">
  		<id property="chatNo" column="CHAT_NO"/>
  		<result property="writerNo" column="WRITER_NO"/>
  		<result property="chatSendDate" column="CHAT_SEND_DATE"/>
  		<result property="chatContent" column="CHAT_CONTENT"/>
  		<result property="chatFileName" column="CHAT_FILE_NAME"/>
  		<result property="chatFilePath" column="CHAT_FILE_PATH"/>
  		<result property="chatFileRename" column="CHAT_FILE_RENAME"/>
  		<result property="receiverId" column="RECEIVER_ID"/>
  	</resultMap>
  	
  	<select id="selectList" resultMap="chatResultMap">
		SELECT * FROM CHAT WHERE (WRITER_ID=#{writerId} AND RECEIVER_ID=#{receiverId}) 
		OR (RECEIVER_ID=#{writerId} AND WRITER_ID=#{receiverId}) ORDER BY CHAT_SEND_DATE
	</select>
	<insert id="sendChat">
	    INSERT INTO CHAT (CHAT_NO, WRITER_ID, CHAT_SEND_DATE, CHAT_CONTENT, 
	                      CHAT_FILE_NAME, CHAT_FILE_PATH, CHAT_FILE_RENAME, RECEIVER_ID)
	    VALUES (SEQ_CHAT_NO.NEXTVAL, #{writerId}, SYSTIMESTAMP, #{chatContent},
	            #{chatFileName}, #{chatFilePath}, #{chatFileRename}, #{receiverId})
	</insert>
	<select id="getChatByUserId" resultMap="chatResultMap">
		SELECT * 
		    FROM CHAT
		    WHERE RECEIVER_ID = #{userId}
		    OR WRITER_ID = #{userId}
		    ORDER BY CHAT_NO DESC	
    </select>
    
	<select id="getTotalCount">
		SELECT COUNT(*) FROM CHAT WHERE RECEIVER_ID=#{receiverId}
	</select>
	<select id="selectChatByUserId" resultMap="chatResultMap">
		SELECT * 
		    FROM CHAT
		    WHERE RECEIVER_ID = #{userId}
		    ORDER BY CHAT_NO DESC
	</select>
  </mapper>