<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.jachui.chat.model.mapper.ChatMapper">

    <resultMap type="Chat" id="chatResultMap">
        <id property="chatNo" column="CHAT_NO"/>
        <result property="chatRoomNo" column="CHAT_ROOM_NO"/>
        <result property="writerId" column="WRITER_ID"/>
        <result property="message" column="MESSAGE"/>
        <result property="isRead" column="IS_READ"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="chatTime" column="CHAT_TIME"/>
    </resultMap>

    <select id="selectList" resultMap="chatResultMap">
        SELECT CHAT_NO, CHAT_ROOM_NO, WRITER_ID, DBMS_LOB.SUBSTR(MESSAGE, 4000, 1) AS MESSAGE, IS_READ, CREATE_DATE, CHAT_TIME
        FROM CHAT 
        WHERE CHAT_ROOM_NO = #{chatRoomNo}
        ORDER BY CHAT_TIME ASC
    </select>

    <insert id="sendChat" parameterType="com.house.jachui.chat.controller.dto.SendRequest">
        INSERT INTO CHAT (CHAT_NO, CHAT_ROOM_NO, WRITER_ID, MESSAGE, CREATE_DATE, CHAT_TIME)
        VALUES (
            SEQ_CHAT_NO.NEXTVAL,
            #{chatRoomNo},
            #{writerId},
            #{message},
            SYSDATE,
            SYSTIMESTAMP
        )
    </insert>

    <select id="getChatByUserId" resultMap="chatResultMap">
        SELECT CHAT_NO, CHAT_ROOM_NO, WRITER_ID, DBMS_LOB.SUBSTR(MESSAGE, 4000, 1) AS MESSAGE, IS_READ, CREATE_DATE, CHAT_TIME
        FROM CHAT c
        JOIN CHAT_ROOM cr ON c.CHAT_ROOM_NO = cr.CHAT_ROOM_NO
        WHERE cr.USER1_ID = #{userId} OR cr.USER2_ID = #{userId}
        ORDER BY CHAT_TIME DESC
    </select>

    <select id="selectNewMessagesAfter" resultMap="chatResultMap">
        SELECT *         
		FROM CHAT         
		WHERE CHAT_ROOM_NO = (
		    SELECT CHAT_ROOM_NO              
		    FROM CHAT_ROOM              
		    WHERE ((USER1_ID = #{writerId} AND USER2_ID = #{receiverId})
		           OR (USER1_ID = #{receiverId} AND USER2_ID = #{writerId}))
		    ORDER BY CREATE_DATE DESC
		    FETCH FIRST 1 ROWS ONLY
		)
		ORDER BY CHAT_NO ASC
    </select>

    <select id="getMessagesByRoom" resultMap="chatResultMap">
        SELECT CHAT_NO, CHAT_ROOM_NO, WRITER_ID, DBMS_LOB.SUBSTR(MESSAGE, 4000, 1) AS MESSAGE, IS_READ, CREATE_DATE, CHAT_TIME
        FROM CHAT 
        WHERE CHAT_ROOM_NO = #{chatRoomNo}
        ORDER BY CHAT_TIME ASC
    </select>
</mapper>