<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.jachui.chat.model.mapper.ChatRoomMapper">

    <!-- 채팅방 조회 -->
    <select id="getChatRoomsByUserId" resultType="com.house.jachui.chat.model.vo.ChatRoom">
        SELECT * 
        FROM CHAT_ROOM
        WHERE USER1_ID = #{userId} OR USER2_ID = #{userId}
        ORDER BY CREATED_DATE DESC
    </select>

    <!-- 채팅방 존재 여부 조회 -->
    <select id="findChatRoom" resultType="Integer">
        SELECT ROOM_NO 
        FROM CHAT_ROOM
        WHERE (USER1_ID = #{user1Id} AND USER2_ID = #{user2Id})
        OR (USER1_ID = #{user2Id} AND USER2_ID = #{user1Id})
    </select>

    <!-- 채팅방 생성 -->
    <insert id="createChatRoom">
        INSERT INTO CHAT_ROOM (ROOM_NO, USER1_ID, USER2_ID, CREATED_DATE)
        VALUES (SEQ_CHAT_ROOM.NEXTVAL, #{user1Id}, #{user2Id}, SYSDATE)
    </insert>

</mapper>
