<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.jachui.member.model.mapper.MemberMapper">
	<resultMap type="Member" id="loginResultMap">
		<id property="userId" 	column="USER_ID" />
		<result property="userPw"	column="USER_PW"/>
	</resultMap>
	
	<resultMap type="com.house.jachui.member.model.vo.Member" id="memberResultMap">
		<id		property="userId"				column="USER_ID"/>
		<result property="userPw"				column="USER_PW"/>
		<result property="userName"				column="USER_NAME"/>
		<result property="userEmail"			column="USER_EMAIL"/>
		<result property="userPhone"			column="USER_PHONE"/>
		<result property="userGender"			column="USER_GENDER"/>
		<result property="userAddress"			column="USER_ADDRESS"/>
		<result property="userBirth"			column="USER_BIRTH"/>
		<result property="userPostcode"			column="USER_POSTCODE"/>
		<result property="userDetailAddress"	column="USER_DETAILADDRESS"/>
		<result property="aloneLiving"			column="ALONE_LIVING"/>
		<result property="userRole"				column="USER_ROLE"/>
		<result property="realtorName"			column="REALTOR_NAME"/>
		<result property="realtorNo"			column="REALTOR_NO"/>
		<result property="deleteYn"				column="DELETE_YN"/>
		<result property="approveYn"			column="APPROVE_YN"/>
		<result property="joinDate"				column="JOIN_DATE"/>
	</resultMap>
	
	<!-- <insert id="memberSignupJachui" parameterType="com.house.jachui.member.model.vo.Member">
		INSERT INTO MEMBER(USER_ID, USER_PW, USER_NAME, USER_PHONE, USER_ADDRESS, 
		USER_POSTCODE, USER_DETAILADDRESS, USER_BIRTH, ALONE_LIVING, USER_ROLE, REALTOR_NAME, REALTOR_NO, DELETE_YN, APPROVE_YN, JOIN_DATE)
		VALUES(#{userId} ,#{userPw}, #{userName}, #{userPhone}, #{userAddress}, 
		#{userPostcode}, #{userDetailAddress}, #{userBirth}, #{aloneLiving}, 'M', 'X', 0, DEFAULT, DEFAULT, DEFAULT)
	</insert> -->
	
	<!-- 로그인 -->

	<insert id="memberSignupJachui" parameterType="com.house.jachui.member.model.vo.Member">
		INSERT INTO member(userId, userPw, userName, userPhone, userAddress, 
		userPostcode, userDetailAddress, userBirth, aloneLiving, userRole, realtorName, realtorNo, deleteYn, approveYn, joinDate)
		VALUES(#{userId} ,#{userPw}, #{userName}, #{userPhone}, #{userAddress}, 
		#{userPostcode}, #{userDetailAddress}, #{userBirth}, #{aloneLiving}, 'M', 'X', 0, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="memberSignupRealtor" parameterType="com.house.jachui.member.model.vo.Member">
		INSERT INTO MEMBER(USER_ID, USER_PW, USER_NAME, USER_PHONE, USER_ADDRESS,
		USER_POSTCODE, USER_DETAILADDRESS, USER_ROLE, REALTOR_NAME, REALTOR_NO, DELETE_YN, APPROVE_YN, JOIN_DATE)
		VALUES(#{userId} ,#{userPw}, #{userName}, #{userPhone}, #{userAddress}, 
		#{userPostcode}, #{userDetailAddress}, 'R', #{realtorName}, '1', DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="selectFindId" resultType="com.house.jachui.member.model.vo.Member">
		SELECT 
            USER_ID AS userId,
            CREATE_DATE AS joinDate
        FROM 
            MEMBER
        WHERE 
            USER_NAME = #{userName}
            AND USER_EMAIL = #{userEmail}
            AND USER_ROLE = #{userRole}
            AND DELETE_YN = 'N'
	</select>
	
	<select id="selectFoundId" resultType="com.house.jachui.member.model.vo.Member">
		SELECT 
            USER_NAME AS userName,
            USER_EMAIL AS userEmail
        FROM 
            MEMBER
        <where> 
        	USER_ROLE = #{userRole}
            AND (USER_EMAIL = #{userEmail} OR USER_PHONE = #{userPhone})
            AND DELETE_YN = 'N'
        </where>
	</select>
	
	<select id="selectOneByLogin" resultType="com.house.jachui.member.model.vo.Member">
		SELECT * FROM MEMBER WHERE USER_ID = #{userId} AND USER_PW =#{userPw}
	</select>
	
<!-- 	<select id="MemberLoginRequest" resultType="com.house.jachui.member.model.vo.Member">
		SELECT USER_ID, USER_PW
	    FROM MEMBER
	    WHERE USER_ID = #{userId}
	      AND USER_PW = #{userPw}
	      AND DELETE_YN = 'N'
	</select> -->
	
	
	<update id="updateResetPw" parameterType="com.house.jachui.member.model.vo.Member">
		UPDATE MEMBER 
		SET USER_PW = #{userPw}
		WHERE
		USER_ID = #{userId}
		AND USER_NAME = #{userName}
		AND USER_EMAIL = #{userEmail}
	</update>
	
	
	
</mapper>