<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.house.jachui.estate.model.mapper.OptionMapper">
 	<select id="selectOptionList" resultType="EstateOption">
 		SELECT * FROM "OPTION" WHERE ESTATE_NO = #{estateNo} ORDER BY OPTION_NO DESC
 	</select>
    <select id="selectAllOptions" resultType="com.house.jachui.estate.model.vo.EstateOption">
	    SELECT
	        OPTION_NO AS optionNo,
	        OPTION_NAME AS optionName,
	        OPTION_IMG AS optionImg
	    FROM
	        ESTATE_OPTION
	</select>
	<select id="getOptionCodesByEstateNo" resultType="int">
	    SELECT
	        OPTION_NO
	    FROM
	        OPTION_LIST
	    WHERE
	        ESTATE_NO = #{estateNo}
	</select>
 	<insert id="insertOptionList">
		INSERT INTO  OPTION_LIST (estate_no, option_no)
		VALUES
	    (#{estateNo}, #{optionCode})
	</insert>
	<insert id="insertOptionCode" parameterType="map">
        INSERT INTO estate_option (estate_no, option_no)
        VALUES (#{estateNo}, #{optionNo})
    </insert>
	<delete id="deleteOptionByEstateNo">
	    DELETE FROM OPTION_LIST
	    WHERE ESTATE_NO = #{estateNo}
	</delete>
	
 </mapper>