<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.jachui.post.mapper.PostMapper">
	<resultMap type="PostVO" id="postResultMap">
		<id property="postNo" column="POST_NO" />
		<result property="userId" column="USER_ID" />
		<result property="postType" column="POST_TYPE" />
		<result property="postTitle" column="POST_TITLE" />
		<result property="postContent" column="POST_CONTENT" />
		<result property="writeDate" column="WRITE_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
	</resultMap>

	<select id="selectList" resultMap="postResultMap">
		SELECT * FROM POST ORDER BY WRITE_DATE DESC
	</select>
	
	<insert id="insertPost">
		INSERT INTO POST VALUES(SEQ_POST_NO.NEXTVAL, #{userId}, #{postType}, #{postTitle}, #{postContent}, SYSDATE, SYSDATE)
	</insert>
	
	<select id="selectOneDetail" resultMap="postResultMap">
		SELECT * FROM POST WHERE POST_NO = #{postNo}
	</select>
	
	<delete id="deletePost">
		DELETE FROM POST WHERE POST_NO = #{postNo}
	</delete>
	
	<select id="updateOneDetail" resultMap = "postResultMap">
		SELECT * FROM POST WHERE POST_NO = #{postNo}
	</select>
	
	<update id="postUpdate">
		UPDATE POST SET POST_TYPE=#{postType}, POST_TITLE=#{postTitle}, POST_CONTENT=#{postContent} WHERE POST_NO = #{postNo}
	</update>
	
	<select id="selectcList" resultType="CommentVO">
		SELECT * FROM "COMMENT" ORDER BY COMMENT_NO ASC
	</select>
	<select id="selectOneByIdEmail" resultType="Member">
		SELECT USER_ID, USER_EMAIL FROM MEMBER
	    WHERE USER_ID = #{userId}
	    AND USER_EMAIL = #{userEmail}
	    AND DELETE_YN = 'N'
	</select>
	<select id="selectPostsByUserId" resultType="PostVO">
		SELECT POST_NO, USER_ID, POST_TYPE, POST_TITLE, POST_CONTENT, WRITE_DATE, UPDATE_DATE
		FROM POST WHERE USER_ID = #{userId} ORDER BY WRITE_DATE DESC
	</select>
	<insert id="insertComment">
		INSERT INTO "COMMENT" VALUES(COMMENT_SEQ.NEXTVAL, #{userId}, #{commentContent}, SYSDATE, SYSDATE, #{postNo})
	</insert>
	
	<delete id="deleteComment">
		DELETE FROM "COMMENT" WHERE COMMENT_NO = #{commentNo}
	</delete>
	
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM POST
	</select>
	
	<select id="getTotalSCount" resultType="_int">
		SELECT COUNT(*) FROM POST
		WHERE
		<choose>
			<when test="category == 'free'">
				POST_TYPE = '자유' AND POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</when>
			<when test="category == 'tip'">
				POST_TYPE = '꿀팁' AND POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</when>
			<when test="category == 'qna'">
				POST_TYPE = '질문' AND POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</when>
			<otherwise>
				POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</otherwise>
		</choose>
	</select>
	
	<select id="selectSearchList" resultType="PostVO">
		SELECT * FROM POST
		WHERE
		<choose>
			<when test="category == 'free'">
				POST_TYPE = '자유' AND POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</when>
			<when test="category == 'tip'">
				POST_TYPE = '꿀팁' AND POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</when>
			<when test="category == 'qna'">
				POST_TYPE = '질문' AND POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</when>
			<otherwise>
				POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</otherwise>
		</choose>
		ORDER BY WRITE_DATE DESC
	</select>
		
</mapper>  