<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.jachui.report.mapper.ReportMapper">
	<resultMap type="ReportVO" id="ReportResultMap">
		<id property="reportNo" column="REPORT_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="reportDate" column="REPORT_DATE"/>
		<result property="reportContent" column="REPORT_CONTENT"/>
		<result property="reportReason" column="REPORT_REASON"/>
		<result property="postNo" column="POST_NO"/>
		<result property="commentNo" column="COMMENT_NO"/>
	</resultMap>
	
	<insert id="reportcInsert">
		INSERT INTO REPORT VALUES(REPORT_SEQ.NEXTVAL, #{userId}, SYSDATE, #{reportContent}, #{reportReason}, #{postNo}, #{commentNo})
	</insert>
	<insert id="reportpInsert">
		INSERT INTO REPORT(REPORT_NO, USER_ID, REPORT_DATE, REPORT_CONTENT, REPORT_REASON, POST_NO) VALUES(REPORT_SEQ.NEXTVAL, #{userId}, SYSDATE, #{reportContent}, #{reportReason}, #{postNo})
	</insert>
	
<!-- 	신고관리 조회 -->
	<select id="selectListAll" resultType="ReportVO">
		SELECT * FROM REPORT ORDER BY REPORT_NO DESC
	</select>
<!-- 	신고관리 페이지네이션 -->
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM REPORT
	</select>
	
	
</mapper>