<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.jachui.trade.model.store.TradeMapper">
	<resultMap type="Trade" id="tradeResultMap">
		<id 	property="tradeNo" 			column="TRADE_NO" />
		<result property="userId"			column="USER_ID" />
		<result property="tradeTitle" 		column="TRADE_TITLE" />
		<result property="tradeContent" 	column="TRADE_CONTENT" />
		<result property="tradePrice" 		column="TRADE_PRICE" />
		<result property="viewCount" 		column="VIEW_COUNT" />
		<result property="writeDate" 		column="WRITE_DATE" />
		<result property="tradeFilename" 	column="TRADE_FILENAME" />
		<result property="tradeFileRename" 	column="TRADE_FILERENAME" />
		<result property="tradeFilepath" 	column="TRADE_FILEPATH" />
		<result property="tradeYn"			column="TRADE_YN" />
		<result property="tradeDate" 		column="TRADE_DATE" />
		<result property="delYn" 			column="DEL_YN" />
	</resultMap>
	
	
	<select id="selectOneByNo" parameterType="int" resultMap="tradeResultMap">
	    SELECT * FROM TRADE WHERE TRADE_NO = #{tradeNo}
	</select>

    <select id="selectListAll" resultMap="tradeResultMap">
	    SELECT * FROM TRADE
	</select>

	<select id="selectAllTrade" resultMap="tradeResultMap">
	    SELECT TRADE_NO, USER_ID, TRADE_TITLE, TRADE_CONTENT,
	           TRADE_PRICE, VIEW_COUNT, WRITE_DATE, TRADE_FILENAME,
	           TRADE_FILERENAME, TRADE_FILEPATH, TRADE_YN, TRADE_DATE, DEL_YN
	    FROM TRADE
	    WHERE DEL_YN = 'N'
	    ORDER BY WRITE_DATE DESC
	</select>
	
	<select id="getTotalCount" resultType="_int">
	    SELECT COUNT(*) FROM TRADE
	</select>
    
    
    
	<insert id="insertTrade" parameterType="TradeAddRequest" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="tradeNo">
			SELECT SEQ_TRADE_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TRADE(TRADE_NO, USER_ID, TRADE_TITLE, TRADE_CONTENT, TRADE_PRICE,
		TRADE_FILENAME, TRADE_FILERENAME, TRADE_FILEPATH, DEL_YN) 
		VALUES (#{tradeNo}, #{userId}, #{tradeTitle}, #{tradeContent}, #{tradePrice},
		 #{tradeFilename}, #{tradeFileRename}, #{tradeFilepath}, 'N')
	</insert>
	<update id="updateTrade" parameterType="TradeAddRequest">
		UPDATE TRADE
		SET TRADE_TITLE = #{tradeTitle},
		    TRADE_CONTENT = #{tradeContent},
		    TRADE_FILENAME = #{tradeFilename},
		    TRADE_FILERENAME = #{tradeFileRename},
		    TRADE_FILEPATH = #{tradeFilepath}
		WHERE TRADE_NO = #{tradeNo}
	</update>
	<delete id="deleteTrade">
		UPDATE TRADE
		SET DEL_YN = 'Y'
		WHERE TRADE_NO = #{tradeNo}
	</delete>
</mapper>