@charset "UTF-8";

body{
	margin: 0;
	background-color: #fff9e9;
	padding: 0;
	display: block;
	/* align-items: center; */
	font-family: Arial, sans-serif;
}

.main-container {
	height: 820px;
	display : flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-container img{
	width: 800px;
	height: 800px;
	background-color: #fff9e9;
}

.message {
	border-radius : 0.5rem;
	text-align: center;
	margin-bottom : 5rem;
}

.navi-container {
	text-decoration: none;
	border : 1px solid #eee;
	border-radius : 0.5rem;	
	background-color:  #FF804A;
	padding : 0.5rem;
}