@charset "UTF-8";

.logo img{
    width: 220px;
    height: 170px;
    margin-top: 15px;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #FFAB87;
    align-items: center;
    height: 45px;
    padding: 10px;
    font-size: 20px;
}
header a{
    text-decoration: none;
    color: white;
    padding: 30px;
}
header .logo {
    font-size: 24px;
}

.loginBtn{
    display: flex;
    text-align: center;
    margin-right: 50px;
}
