@charset "UTF-8";
body{
    margin: 0;
    background-color: #FFF9E9;
} 
.main {
	width: 1500px;
    margin: 0 auto;
    height: 755px;
    margin-top : 60px;
}

.banner {
    text-align: center;
    padding: 50px 0;
    background-color: #F4ECE0;
}
.banner2 {
    text-align: center;
    margin-top : 20px;
    padding: 50px 0;
    background-color: #F4ECE0;
}
.left-image-container {
    position: relative;
    display: inline-block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.6);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    z-index: 2;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    margin-left : 5px;
    
}
section {
    background-color: #FAF3E0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.left-image{
    width: 400px;
    height: 300px;
    margin: 40px 0px 0px 40px;
}
.right-image{
    width: 400px;
    height: 400px;
    margin-right: 50px;
    border-radius: 399px 399px 0px 0px
}
.main-menu {
    display: flex;
    gap: 70px;
    background-color: white;
}
.main-hello {
    display: flex;
    align-items: center;
}
.main-menu a{
    text-decoration: none;
}
.main-menu a:hover {
    background-color: #FF7337;
    border-radius: 10px;
}
.left-menu {
    display: flex;
}
.main-menu div{
    border-radius: 25px;
    margin: 20px;
}
.user-story {
    color: white;
    background-color: #FF7337;
    padding: 20px;
}
.alone-living {
    color: white;
    background-color: #FF804A;
    padding: 20px;
}
.used-market {
    color: white;
    background-color: #FFA37C;
    padding: 20px;
}
.notice-board {
    color: white;
    background-color: #6A9D81;
    padding: 20px 35px 20px 35px;
}

/* 캐러셀 전체 구조  */
.carousel_main {
    width: 400px; /* 이미지 크기 설정  */
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    user-select: none;
    margin-left: 40px;
}

.carousel_wrapper {
    display: flex;
    transition: transform 1s;
}

.carousel_slide {
    flex: 0 0 400px; /* 이미지 크기 설정  */
    position: relative;
}

.carousel_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 캐러셀 사이드 버튼 */
.carousel_button_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel_button {
    width: 50px;
    height: 50px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel_prev {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel_next {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* 캐러셀 중앙 버튼 */
.carousel_pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel_circle {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel_circle.active {
    background-color: #333;
}